{% extends 'base.html.twig' %}

{% block title %}KaraokeTime - Accueil{% endblock %}

{% block body %}
    <div class="karaoke-container">
        <div class="karaoke-mic">🎤</div>
        <div class="karaoke-title">KaraokeTime</div>
        <div class="karaoke-subtitle">Chantez, partagez, amusez-vous !</div>

    </div>

{% endblock %}