{% extends 'base.html.twig' %}

{% block title %}Liste des chansons{% endblock %}

{% block body %}
<h1>Liste des chansons</h1>

<ul>
  {% for song in songs %}
    <li>
      <a href="{{ path('song_show', { id: song.id }) }}">
        {{ song.title }} — {{ song.artist }}
      </a>
      <small>(publiée le {{ song.createdAt|date('d/m/Y') }})</small>
    </li>
  {% else %}
    <li>Aucune chanson pour l’instant.</li>
  {% endfor %}
</ul>
{% endblock %}
