<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# inclusion de la navbar fragment #}
        {% include 'partials/_navbar.html.twig' %}

        {# contenu spécifique à chaque page #}
        {% block body %}{% endblock %}
    </body>

    <footer>© 2023 KaraokeTime. Tous droits réservés.</footer>
</html>
